.*
!.gitignore
alias.bbb
bag
bag.exe
bbbs
bbbs.exe
bbbs.00?
bbbs_an
bbbs_an.exe
bbbscfg4.00?
bbbsd
bbbsd.exe
bbbsd.pem
bbbs.key
bcfg4
bcfg4.exe
external.bbb
feelings
fido
filedirg.00?
filedirn.00?
groups
inet.bbb
LICENSE.txt
login.bbb
main
misc
node
pub
README.txt
ripc
ripc.exe
run_bbbs.sh
scripts/bzc
scripts/bzc.exe
scripts/bzpp
scripts/bzpp.exe
sysop.*
update_cert.sh
work
